<!--ACCOUNT PAGE LAYOUT-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
      <title>Account</title>
        <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
        <style>
        .main.container{
            margin-top: 7em;
            width: 50%;
        }
        .btn-danger{
          position: absolute;
          right: 0px;
          padding: 9px;
        }
        </style>
  </head>
  <body class="main container">
    <div class="ui fixed inverted menu">
      <a href="/" class="header item">Home</a>
      <button class="btn btn-danger" href="/" onClick='document.location.href="/"'>
        Logout
      </button>
    </div>
    <br/>
    <center>
    <cent    </center class="col-md-6 col-md-offset-3">
      <h1>Hello <%= name %></h1>
      <button class="btn btn-success" id="show-metrics">
        Bring the metrics
      </button>
      <div id="metrics"></div>

    <div id="form" class="ui main container">
        <h2>Add a new metric</h2>
        <form action="/metrics/:id" method="post" class="ui form">
          <br/>
          <div class="form-group">
            <label for="form_timestamp"><b>Timestamp</b></label>
            <input id="form_timestamp" type="text" name="timestamp" />
          </div>
          <br/>
          <div class="form-group">
            <label for="form_value"><b>Value</b></label>
            <input id="form_value" type="number" name="value" />
          </div>
          <br/>
          <button class="ui orange labeled submit icon button" type="submit" name="Add" value="Add">
              <i class="edit outline icon"></i>Add 
          </button>
        </form>

      </div>
    </center>

    <script>
      $('#show-metrics').click((e) => {
        e.preventDefault();
        $.getJSON("/metrics.json", {}, (data) => {
          const content = data.map(d => {
            return 'timestamp: '+d.timestamp+', value: '+d.value+'';
          })
          $('#metrics').append(content.join("\n"));
        });
      })
    </script>
  </body>
</html>
