<!--ACCOUNT PAGE LAYOUT-->
<!DOCTYPE html>
<html lang="en">

  <head>
    <% include partials/head %>
    <meta charset="utf-8">
    <title>Account</title>

    <!-- D3.js CDN source -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Semantic UI usage-->
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <!-- CSS stylesheet -->
    <style>
    .main.container{
        margin-top: 7em;
        width: 50%;
    }
    .btn-danger{
      position: absolute;
      right: 0px;
      padding: 9px;
    }
    
    body{
      background-color: white;
      margin-left: 40%;
    }
    div.bar{
      display: inline-block;
      width: 20px;
      background-color:brown;
      margin-right: 5px;
    }
    </style>
  </head>
  <!--Header-->
  <body class="main container">
    <div class="ui fixed inverted menu">
      <!--Logout Button-->
      <button class="btn btn-danger" href="/" onClick='document.location.href="/"'>
        Logout
      </button>
    </div>
    <br/>
  <!--Body-->
    <center>
    <h1>Hello <%= data.name %></h1>
    </br>
    <!--Display metrics-->
    <h2>Your metrics<br/> </h2>
      <table> 
        <tr>
            <th>Timestamp </th>
            <th>Value</th>
        </tr>
        <% data.metrics.forEach((item)=>{%> 
        <tr>
            <td><%=item.timestamp%>  </td>
            <td><%=item.value%></td>
        </tr></li>  
        <%});%> 
    </table> 

    <!--Add a new metric-->
    <div id="form" class="ui main container">
        <h2>Add a new metric</h2>
        <form action='/metric' method="post" class="ui form">
          <br/>
          <div class="form-group">
            <label for="form_timestamp"><b>Timestamp</b></label>
            <input id="form_timestamp" type="text" name="timestamp" />
          </div>
          <br/>
          <div class="form-group">
            <label for="form_value"><b>Value</b></label>
            <input id="form_value" type="number" name="value" />
          </div>
          <br/>
          <button class="ui green labeled submit icon button" type="submit" name="Submit" value="Add">
              <i class="edit outline icon"></i>Add 
          </button>
        </form>
        </br>
        </br>
      </div>
      </br>
    </center>

  </body>
</html>
