<!--LOGIN PAGE LAYOUT-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <!-- Semantic UI usage-->
        <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
        <!-- CSS stylesheet -->
        <style>
        .main.container{
            margin-top: 7em;
            width: 40%;
        }
        </style>
    </head>

    <body>
      <!--Header-->
      <div class="ui fixed inverted menu">
        <a href="/" class="header item">Home</a>
      </div>
      <!--Body-->
      <!--Login Form-->
      <div id="form" class="ui main container">
        <center>
          <h2>Please login to your account</h2>
          <br/>
          <form action="/login" method="post" class="ui form">
            <br/>
            <div class="form-group">
              <label for="form_username"><b>Username</b></label>
              <input id="form_username" type="text" name="username" />
            </div>
            <br/>
            <div class="form-group">
              <label for="form_password"><b>Password</b></label>
              <input id="form_password" type="password" name="password" />
            </div>
            <br/>
            <button class="ui green labeled submit icon button" type="submit" name="Submit" value="Submit"><i class="check icon"></i>Connect</button>
            <br/><br/>
          </form>
          <hr/>
          <!--Suggestion to sign up-->
          <p><b>Still no account?  Sign up !</b></p>
          <button class="ui orange labeled submit icon button"  type="submit" href="/signup" onClick='document.location.href="/signup"'>
            <i class="edit outline icon"></i>Create an account
          </button>
        </center>
      </div>
      
  </body>
</html>